@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;

}

h1{
    text-align: center;
}

.success{
    color:rgba(0,0,132);
    text-align: center;
}

body{
    height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 50px;
    box-shadow: 4px 4px 4px #aaa;
    width: 25%;
}

main p {
    text-align: center;
    margin: 10px;
}

.required{
    color: red;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-group{
    display: flex;
    flex-direction: column;
}

input{
    font-size: 16px;
    padding: 10px;
}

#email-error{
    text-align: left;
    color: red;
    font-size: 12px;
    margin: 0 0 15px 0;
}

#password-error{
    text-align: left;
    color: red;
    font-size: 12px;
    margin: 0 0 15px 0;
}

button{
    width: 100%;
    margin: 10px auto;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(0,0,132);
    transition: background-color 0.3s;
    color: #fff;
    border-radius: 5px;
}

button:hover{
    background-color: rgba(0,0,132, 0.8);
}

.red-border{
    border: 1px solid red;
}
